<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Video Call Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}?v=1">
    <script src="{{ url_for('static', filename='js/site.js') }}?v=5"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <button id="camera-switch" onclick="ChangeCamera();">Turn Off Camera</button>
    <div id="container">
        <img src='/video_feed' id="videoElement">
    </div>
</body>
</html>